@import-normalize;
/* bring in normalize.css styles */

@font-face {
  font-family: 'Inter-Medium';
  src: local('Inter-Medium'),
    url('./fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular'),
    url('./fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope-Light';
  src: local('Manrope-Light'),
    url('./fonts/Manrope/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Manrope-Regular';
  src: local('Manrope-Regular'),
    url('./fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope-Medium';
  src: local('Manrope-Medium'),
    url('./fonts/Manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Manrope-SemiBold';
  src: local('Manrope-SemiBold'),
    url('./fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Manrope-Bold';
  src: local('Manrope-Bold'),
    url('./fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope-ExtraBold';
  src: local('Manrope-ExtraBold'),
    url('./fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

:root {
  --header-items-color: #ffc107;
  --btn-bg-color: #54adff;
  --hover-btn-bg-color: linear-gradient(315deg, #419ef1 0%, #9bd0ff 100%);

  --duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
